<div class="columns">
  <div class="column">
    <div class="box">
      <p class="title">Education</p>
      <hr>
      <div class="content">
        {{#each history.education}}
        <div class="content">
          <p class="title is-4">{{school}}</p>
          <p class="subtitle">{{program}} - {{time}}</p>
          <ul>
            <li>{{summary}}</li>
            <li>Degrees Received:</li>
            <ul>
              {{#each degrees}}
              <li>{{this}}</li>
              {{/each}}
            </ul>
          </ul>
          <p class="title is-5">References:</p>
          <div class="columns content">
            {{#each references}}
              {{> history/reference}} 
            {{/each}}
          </div>
        </div>
        <hr>
        {{/each}}
      </div>
    </div>
  </div>
</div>
