<div class="columns">
  <div class="column">
    <div class="box">
      <p class="title">Education</p>
      <hr>
      <div class="content">
        {{#each history.education}}
        <div class="content">
          <p class="title is-4">{{school}}</p>
          <p class="subtitle">{{program}} - {{time}}</p>
          <ul>
            <li>{{summary}}</li>
            <li>Degrees Received:</li>
            <ul>
              {{#each degrees}}
              <li>{{this}}</li>
              {{/each}}
            </ul>
          </ul>
          <p class="title is-5">References:</p>
          <div class="columns content">
            {{#each references}}
            <div class="column">
              <div class="card">
                <div class="card-content">
                  <p class="title is-5">{{name}}</p>
                  <p class="subtitle">{{relation}}</p>
                </div>
                <div class="card-footer">
                  {{#if phone}}
                    <div class="card-footer-item">
                    <a href="tel:{{phone}}">
                      <span class="icon">
                        <i class="fa fa-phone"></i>
                      </span>
                      <br>
                      {{phone}}
                    </a>
                  </div>
                  {{/if}}
                  {{#if email}}
                  <div class="card-footer-item">
                    <a href="mailto:{{email}}">
                      <span class="icon">
                        <i class="fa fa-envelope-o"></i>
                      </span>
                      {{email}}
                    </a>
                  </div>
                  {{/if}}
                </div>
              </div>
            </div>
            {{/each}}
          </div>
        </div>
        <hr>
        {{/each}}
      </div>
    </div>
  </div>
</div>
