<div class="column">
  <div class="card">
    <div class="card-header">
    </div>
    <div class="card-content">
      <p class="title">{{name}}</p>
      <p class="subtitle is-6">{{relation}}</p>
      <p>{{summary}}</p>
    </div>
    <div class="card-footer">
      {{#if phone}}
      <div class="card-footer-item">
        <a href="tel:{{phone}}">
          <span class="icon">
                        <i class="fa fa-phone"></i>
                      </span>
          <br> {{phone}}
        </a>
      </div>
      {{/if}} {{#if email}}
      <div class="card-footer-item">
        <a href="mailto:{{email}}">
          <span class="icon">
                    <i class="fa fa-envelope-o"></i>
                  </span> {{email}}
        </a>
      </div>
      {{/if}}
    </div>
  </div>
</div>
