<div class="columns">
  <div class="column">
    <div class="box">
      <p class="title">Work Experience</p>
      <hr>
      {{#each history.jobs}}
        <div class="content">
          <p class="title is-4">{{company}}</p>
          <p class="subtitle">{{title}} - {{time}}</p>
          <ul>
            <li>Summary:</li>
            <ul>
              <li>{{summary}}</li>
            </ul>
            <li>Daily Work:</li>
            <ul>
              {{#each work}}
                <li>{{this}}</li>
              {{/each}}
            </ul>
            {{#if accomplishments}}
              <li>Noteworthy Accomplishments:</li>
              <ul>
                {{#each accomplishments}}
                  <li>{{this}}</li>
                {{/each}}
              </ul>
            {{/if}}
          </ul>
        </div>
      {{/each}}
    </div>
  </div>
</div>
